@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 76 98% 62%;
    --primary-foreground: 76 98% 10%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 76 98% 62%;
    --accent-foreground: 76 98% 10%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 76 98% 62%;

    --chart-1: 76 98% 62%;
    --chart-2: 300 90% 60%;
    --chart-3: 207 80% 68%;
    --chart-4: 207 70% 55%;
    --chart-5: 207 60% 45%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 76 98% 62%;
    --primary-foreground: 76 98% 10%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 76 98% 62%;
    --accent-foreground: 76 98% 10%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 76 98% 62%;

    --chart-1: 76 98% 62%;
    --chart-2: 300 90% 60%;
    --chart-3: 207 80% 68%;
    --chart-4: 207 70% 55%;
    --chart-5: 207 60% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .bg-grid-pattern {
    background-image: linear-gradient(to right, hsl(var(--border) / 0.2) 1px, transparent 1px),
      linear-gradient(to bottom, hsl(var(--border) / 0.2) 1px, transparent 1px);
    background-size: 24px 24px;
  }
}
